* text=auto !eol
/gasCrisis.opensdf -text
/gasCrisis.sln -text
/gasCrisis.vcxproj -text
gasCrisis/Makefile -text
gasCrisis/config/cfg.json -text
gasCrisis/consts.h -text
gasCrisis/date_time.h -text
gasCrisis/errors.h -text
gasCrisis/gas.cpp -text
gasCrisis/inout.h -text
gasCrisis/json.cpp -text
gasCrisis/json.h -text
gasCrisis/logger.h -text
gasCrisis/pipe.h -text
gasCrisis/state.h -text
gasCrisis/timer.h -text
materialy/classes.txt -text
materialy/data_entsog/au_hu.xlsx -text
materialy/data_entsog/by_pl_1.xlsx -text
materialy/data_entsog/by_pl_2_3.xlsx -text
materialy/data_entsog/cz_sk.xlsx -text
materialy/data_entsog/hu_cr.xlsx -text
materialy/data_entsog/hu_sr.xlsx -text
materialy/data_entsog/hu_ua.xlsx -text
materialy/data_entsog/pl_ua.xlsx -text
materialy/data_entsog/sk_cz.xlsx -text
materialy/data_entsog/ua_hu.xlsx -text
materialy/data_entsog/ua_pl.xlsx -text
materialy/data_entsog/ua_sk.xlsx -text
materialy/europa.JPG -text
materialy/mapa[!!-~]kapacit[!!-~]2014.pdf -text
materialy/mapa[!!-~]plynovodov[!!-~]2013.pdf -text
materialy/mapa[!!-~]s[!!-~]info[!!-~]o[!!-~]statoch[!!-~]2014.pdf -text
materialy/nahrej_tu_uplne_Vsechno.txt -text
materialy/pages.txt -text
materialy/plynova_kriza_2009.txt -text
materialy/slovakia.txt -text
