* text=auto !eol
/gasCrisis.sln -text
gasCrisis/Makefile -text
gasCrisis/config/cfg.json -text
gasCrisis/consts.h -text
gasCrisis/date_time.cpp -text
gasCrisis/date_time.h -text
gasCrisis/errors.h -text
gasCrisis/inout.cpp -text
gasCrisis/inout.h -text
gasCrisis/json.cpp -text
gasCrisis/json.h -text
gasCrisis/logger.h -text
gasCrisis/main.cpp -text
gasCrisis/pipe.cpp -text
gasCrisis/pipe.h -text
gasCrisis/state.cpp -text
gasCrisis/state.h -text
gasCrisis/stateStats.cpp -text
gasCrisis/stateStats.h -text
gasCrisis/timer.cpp -text
gasCrisis/timer.h -text
gasCrisis/zprava.docx -text
materialy/classes.txt -text
materialy/data_entsog/au_hu.xlsx -text
materialy/data_entsog/by_pl_1.xlsx -text
materialy/data_entsog/by_pl_2_3.xlsx -text
materialy/data_entsog/cz_sk.xlsx -text
materialy/data_entsog/hu_cr.xlsx -text
materialy/data_entsog/hu_sr.xlsx -text
materialy/data_entsog/hu_ua.xlsx -text
materialy/data_entsog/pl_ua.xlsx -text
materialy/data_entsog/sk_cz.xlsx -text
materialy/data_entsog/ua_hu.xlsx -text
materialy/data_entsog/ua_pl.xlsx -text
materialy/data_entsog/ua_sk.xlsx -text
materialy/doc_materials/aktualne_hodnoty_minuleho[!!-~]roku.xlsx -text
materialy/doc_materials/aktualne_hodnoty_minuleho_roku.json -text
materialy/doc_materials/mapa_statov.png -text
materialy/doc_materials/rusko_prestane_posielat_plyn_ukrajine.xlsx -text
materialy/doc_materials/rusko_prestane_posielat_ukrajine.json -text
materialy/doc_materials/skutocne_hodnoty_z_minuleho[!!-~]roku.png -text
materialy/doc_materials/skutocne_hodnoty_z_minuleho_roku.png -text
materialy/doc_materials/stats.xlsx -text
materialy/doc_materials/stats_predloha.xlsx -text
materialy/europa.JPG -text
materialy/mapa[!!-~]kapacit[!!-~]2014.pdf -text
materialy/mapa[!!-~]plynovodov[!!-~]2013.pdf -text
materialy/mapa[!!-~]s[!!-~]info[!!-~]o[!!-~]statoch[!!-~]2014.pdf -text
materialy/nahrej_tu_uplne_Vsechno.txt -text
materialy/old/1/IMS_dokumentace_v36.pdf -text
materialy/old/1/Makefile -text
materialy/old/1/doc/merlin -text
materialy/old/1/doc/vstupni_parametry -text
materialy/old/1/doc/zadani -text
materialy/old/1/doc/zdroje -text
materialy/old/1/params -text
materialy/old/1/readme -text
materialy/old/1/src/ArgsParser.cc -text
materialy/old/1/src/ArgsParser.h -text
materialy/old/1/src/DataSamplerSrc/Manifest.txt -text
materialy/old/1/src/DataSamplerSrc/compile.sh -text
materialy/old/1/src/DataSamplerSrc/datasampler/DataSampler.class -text
materialy/old/1/src/DataSamplerSrc/datasampler/DataSampler.java -text
materialy/old/1/src/cpu.cc -text
materialy/old/1/src/cpu.h -text
materialy/old/1/src/cpu_process.cc -text
materialy/old/1/src/cpu_process.h -text
materialy/old/1/src/db_server.cc -text
materialy/old/1/src/db_server.h -text
materialy/old/1/src/global.cc -text
materialy/old/1/src/global.h -text
materialy/old/1/src/hard_disk.cc -text
materialy/old/1/src/hard_disk.h -text
materialy/old/1/src/logger.cc -text
materialy/old/1/src/logger.h -text
materialy/old/1/src/main.cc -text
materialy/old/1/src/ram.cc -text
materialy/old/1/src/ram.h -text
materialy/old/1/src/web_server.cc -text
materialy/old/1/src/web_server.h -text
materialy/old/2/Makefile -text
materialy/old/2/dokumentace.pdf -text svneol=unset#unset
materialy/old/2/priklad1.cc -text
materialy/old/2/priklad2.cc -text
materialy/old/2/simulator.cc -text
materialy/old/2/simulator.h -text
materialy/old/dokumentace.odt -text
materialy/pages.txt -text
materialy/plynova_kriza_2009.txt -text
materialy/slovakia.txt -text
materialy/stats -text
